.layout {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.header a {
  background-color: rgb(255, 0, 0);
  color: white;
  border: 2px solid white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.486);
  border-radius: 15px;
  font-weight: bolder;
  &:hover {
    background-color: rgba(21, 255, 0, 0.541);
  }
}
.container {
  padding: 25px;
}

.container h1 {
  margin:  0px;
}

.bcheader {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  background-color: darkgoldenrod;
  border: 2px solid black;
  border-radius: 20px;
}

.bcbody {
  background-color: crimson;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  border: 2px solid black;
  border-radius: 20px;
}
